---
import Decorator from "../components/Decorator.tsx";
---

<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Dekoratoren eksempel</title>
  </head>
  <body>
    <Decorator>
      <main>
        <div>Noe fint innhold her</div>
      </main>
    </Decorator>
  </body>
</html>

<style>
  main {
    height: 30vh;
  }
</style>
